* {
    margin: 0;
    padding: 0;
}

.image {
    height: 30px;
    padding: 5px;
    margin-left: 150px;
}

.list {
    /* background-color: red; */
    cursor: pointer;
    display: flex;
    margin-right: 150px;
    gap: 70px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    color: white;
}

#header-section {
    background-color: rgb(253, 106, 106);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}